In [24]:
#1. Write a Python Program to Find the Factorial of a Number?
def fact(num):
    if num >= 0:
        factorial = 1
        for i in range(0,num):
            factorial = factorial * (num-i)
        return factorial
    else:
        print("Factorials cannot be calucated for negative number, ", num)

In [25]:
fact(12)

479001600

In [29]:
#2. Write a Python Program to Display the multiplication Table?
def multiple(num):
    if num!= 0:
        for i in range(1,11):
            multi = i * num
            print(num, '*', i, '=', multi)

multiple(2)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [46]:
#3. Write a Python Program to Print the Fibonacci sequence?
def fibo(rng):
    a,b = 1,0
    print("Fibonacci Series till ", rng)
    for i in range(0,rng):
        c = a+b   
        print(c)
        a = b
        b = c

In [47]:
fibo(10)

Fibonacci Series till  10
1
1
2
3
5
8
13
21
34
55

In [63]:
#4. Write a Python Program to Check Armstrong Number?
def arm(num):
    length = len(str(num))
    temp = num
    sum = 0
    while temp >0:
        digit = temp%10
        sum+= digit ** length
        temp //=10
    if sum == num:
        print(num, 'is an armstrong number')
    else:
        print(num, 'is not an armstrong number')

In [65]:
arm(153)

153 is an armstrong number

In [68]:
#5. Write a Python Program to Find Armstrong Number in an Interval?
def armint(rng):
    print("list of aramstrong number in the range of 1 to", rng)
    arm=[]
    for num in range(1,rng):
        length = len(str(num))
        temp = num
        sum = 0
        while temp >0:
            digit = temp%10
            sum+= digit ** length
            temp //=10
        if sum == num:
            arm.append(num)
    return arm

In [71]:
armint(10000)

list of aramstrong number in the range of 1 to 10000

[1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634, 8208, 9474]

In [52]:
#6. Write a Python Program to Find the Sum of Natural Numbers?
def natsum(num):
    add = 0
    while num > 0:
        add+=num
        num-=1
    return add

In [55]:
natsum(10)

55